.faqs {
  font-family: var(--ff-primary);
}

.faqs p {
  line-height: 2;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  font-size: 1rem;
}

.acordeon {
  padding: 0 2rem;
}

.acordeon div:nth-child(odd) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  border: 1px solid var(--clr-darkgreen);
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  font-weight: 600;
  padding: 0.3rem 0 0.3rem 0.6rem;
}

.label1,
.label2,
.label3,
.label4 {
  width: 1rem;
  height: 1rem;
  margin: 0 0.6rem 0 0;
}

.acordeon div:nth-child(even) {
  list-style-type: none;
  line-height: 1.8;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  font-size: 1rem;
}

#menu1,
#menu2,
#menu3,
#menu4 {
  display: none;
}

#menu1:checked ~ .acordeon div:nth-child(2) {
  display: block;
  max-height: 3000px;
  opacity: 1;
  padding: 0 0.6rem;
  transition: opacity 1s ease-in-out, max-height 1.3s ease-in-out;
}

#menu2:checked ~ .acordeon div:nth-child(4) {
  display: block;
  max-height: 3000px;
  opacity: 1;
  padding: 0 0.6rem;
  transition: opacity 1s ease-in-out, max-height 1.3s ease-in-out;
}

#menu3:checked ~ .acordeon div:nth-child(6) {
  display: block;
  max-height: 3000px;
  opacity: 1;
  padding: 0 0.6rem;
  transition: opacity 1s ease-in-out, max-height 1.3s ease-in-out;
}
#menu4:checked ~ .acordeon div:nth-child(8) {
  display: block;
  max-height: 3000px;
  opacity: 1;
  padding: 0 0.6rem;
  transition: opacity 1s ease-in-out, max-height 1.3s ease-in-out;
}

#menu1:checked ~ .acordeon .label1 {
  transform: rotate(-45deg);
}

#menu2:checked ~ .acordeon .label2 {
  transform: rotate(-45deg);
}

#menu3:checked ~ .acordeon .label3 {
  transform: rotate(-45deg);
}

#menu4:checked ~ .acordeon .label4 {
  transform: rotate(-45deg);
}

.background-video {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 75%;
  margin: 2rem 0 1rem 0;
}

.background-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* DESKTOP */

@media screen and (min-width: 769px) {
  .acordeon {
    width: 60%;
    margin: 0 auto;
  }

  .faqs p {
    margin: 0 auto 1.5rem auto;
    width: 60%;
  }

  .background-video {
    padding-top: 56.25%;
  }
}
